[submodule "cs101-assignment1"]
	path = cs101-assignment1
	url = https://gitlab.com/LayneInNL/cs101-assignment1.git
[submodule "my-importlib"]
	path = my-importlib
	url = https://gitlab.com/LayneInNL/my-importlib.git
